.App {
  text-align: center;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  background-color: red;
  padding: 10px;
  height: 8%;
}

.navbar ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  height: 100%;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: x-small;
  padding-bottom: 5px;
}

#contactDiv{
  padding-left: 20px;
  text-align: left;
}

.showsContainer {
  display: flex;
  align-items: center;
  margin-left: 400px;
}

.showsImg {
  width: 200px;
  height: 200px;
}

.showsContent {
  margin-left: 20px;
}

.showsButton {
  margin-top: 10px;
  margin-left: 100px;
  background-color: darkgray;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 0;
}



.searchContainer {
  display: flex;
  align-items: center;
  margin-left: 200px;
}

.searchContainer p {
  margin-right: 10px;
}



.detailsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
  margin-left: 50px;
}

.detailsContent {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.detailsImg {
  width: 200px;
  height: auto;
  margin-right: 20px;
}

.detailsFooter {
  display: flex;
  align-items: center;
  margin-top: 100px;
}


.detailsButton {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border: 1px solid #999;
  border-radius: 4px;
  cursor: pointer;
}

.detailsSelector {
  padding: 5px;
  margin-right: 20px;
}

#accountNavDiv{
  top:8px;
  position: absolute;
  right:3%;
}
#accountNavDiv > div > *{
  margin: 10%;
  padding: 0;
  text-decoration: none;
}
